html {
  height: 100%;
}

body {
  background: rgb(0, 0, 0);
  font-family: 'Kanit', sans-serif;
  position: relative;
  color: white;
  overflow-x: hidden;
}

body::after {
  content: '';
  background: rgb(21 20 28);
  background-size: cover;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  z-index: -5;
  overflow-x: hidden;
}

iframe {
  border: none;
  width: 100%;
  height: 100vh;
}

.containerlogin {
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, #272727 0, #060606 70%);
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
  z-index: 0;
}

.incontainlogin {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  color: #ffe57b;
  overflow: auto;
  padding-bottom: 68px;
}

.logoleftlogin {
  display: flex;
  align-content: center;
  flex-direction: column;
  justify-content: center;
}

.incontainlogin img {
  width: 100%;
  max-width: 300px;
  height: auto;
  margin: 0 auto;
}

.headerlogin {
  text-align: center;
}

.headerlogin h2 {
  display: inline-block;
  background: linear-gradient(180deg, #b38c2c 20%, #e8da9b 50%, #b38c2c 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

.inputstyle {
  width: 100%;
  padding: 10px;
  background: transparent;
  border: none;
  border-radius: 10px;
  position: relative;
  border: 1px solid #7d7d7d;
  box-shadow: 3px 3px 5px black;
  color: white;
}

.loginbtn {
  padding: 10px;
  border-radius: 20px;
  width: 100%;
  margin-top: 20px;
  background: transparent;
  border: 1px solid #ffe57b;
  color: #ffe57b;
}

.backbtn {
  padding: 10px;
  border-radius: 20px;
  width: 100%;
  margin-top: 20px;
  background: transparent;
  border: 1px solid #c2bfbf;
  color: #c2bfbf;
}

.verifybtn {
  padding: 10px;
  border-radius: 20px;
  width: 100%;
  background: transparent;
  border: 1px solid #7bff9e;
  color: #7bff9e;
}

.disabledbtn {
  padding: 10px;
  border-radius: 20px;
  width: 100%;
  margin-top: 20px;
  background: transparent;
  border: 1px solid #565756;
  color: #565756;
}

.flex-row {
  display: flex;
  flex-direction: row;
  column-gap: 1em;
}

.wantregister {
  margin-top: 18px;
  font-weight: 100;
  color: white;
  text-align: center;
  font-size: 18px;
}

.wantregister a {
  font-weight: 700;
  color: white;
}

.stepregister {
  justify-content: center;
  align-content: center;
  display: flex;
  margin: 10px 0;
}

.stepregis {
  margin: 0 5px;
  border-radius: 20px;
  padding: 0 10px;
  background: #2b2b2b;
}

.stepregis.active {
  background: #ffe57b;
  color: black;
}

.regisstep {
  display: none;
}

.finishcontain {
  font-size: 25px;
  text-align: center;
  margin: 25px 0;
}

.slideto {
  animation: slidenextregister 0.2s ease 0s normal none;
}
.showanimate {
  animation: slidenextcontent 0.2s ease 0s normal none;
}
@media (max-width: 768px) {
  .slideto {
    animation: slidenextregistermobile 0.2s ease 0s normal none;
  }
  .showanimate {
    animation: slidenextcontentmobile 0.2s ease 0s normal none;
  }
}
@keyframes slidenextregister {
  0.0% {
    transform: translate(100px, 0);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
@keyframes slidenextregistermobile {
  0.0% {
    transform: translate(10px, 0);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
@keyframes slidenextcontent {
  0.0% {
    transform: translate(0, -50px);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
@keyframes slidenextcontentmobile {
  0.0% {
    transform: translate(0, -50px);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

.x-bank-choices-type .-outer-wrapper {
  display: grid;
  justify-content: center;
  text-align: center;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.x-bank-choices-type .-outer-wrapper .-input-radio {
  width: 0;
  height: 0;
  position: absolute;
  left: -9999px;
}

.x-bank-choices-type .-outer-wrapper .-input-radio + .-label {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 4px 10px;
  position: relative;
  margin: 5px auto;
  border-radius: 50%;
  opacity: 0.75;
  transition: all 0.1s;
}

.x-bank-choices-type .-outer-wrapper .-input-radio:checked + .-label {
  opacity: 1;
}

.x-bank-choices-type .-outer-wrapper .-input-radio + .-label .-logo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: all 0.1s;
}

.x-bank-choices-type .-outer-wrapper .-input-radio:checked + .-label .-logo {
  width: 45px;
  height: 45px;
}

.x-bank-choices-type .-outer-wrapper .-input-radio + .-label .fas.fa-check {
  display: none;
  position: absolute;
  bottom: -2px;
  right: -1px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  color: #fff;
  font-size: 10px;
  background-color: #71dd8a;
}

.x-bank-choices-type
  .-outer-wrapper
  .-input-radio:checked
  + .-label
  .fas.fa-check {
  display: flex;
  justify-content: center;
  align-items: center;
}

.lang-pos {
  margin-top: 2em;
  display: flex;
  column-gap: 8px;
  justify-content: center;
}

.lang-pos img {
  width: 40px;
}

.linebtn {
  z-index: 1;
  position: fixed;
  right: 15px;
  bottom: 10px;
  padding: 5px;
  text-align: center;
  font-size: 14px;
  transition: 0.3s;
  cursor: pointer;
}

.linebtn img {
  width: 60px;
  display: block;
}

.linebtn span {
  font-weight: bold;
  color: #ddc690;
  text-shadow: 0 0 10px black, 0 0 20px black;
}

.error {
  color: #f00;
}

.header-dashboard {
  padding: 10px;
  display: flex;
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}
.bandleft {
  min-width: 90px;
}
.bandleft img {
  width: 150px;
}
.menuright {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  font-weight: 100;
  padding-top: 5px;
}
.headeruser {
  padding-right: 15px;
}
.headeruser button {
  height: 100%;
  border-radius: 10px;
  border: none;
  color: white;
  background: linear-gradient(to bottom, #393939, #292929);
}
.headeruser i {
  color: gold;
}
.headercredit span {
  display: inline-block;
  padding-right: 10px;
}
.headerlogout {
  padding-left: 20px;
  font-size: 23px;
  margin-top: -5px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}
.headerlogout i {
  cursor: pointer;
}
.header-menu {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  margin-top: 15px;
  transition: 0.3s;
}
.navmenu {
  width: 16.666%;
  text-align: center;
  font-weight: 100;
  white-space: nowrap;
  padding-bottom: 10px;
  border-bottom: 2px solid #948e77;
  cursor: pointer;
}
.navmenu img {
  margin: 0 auto;
  height: 65px;
  filter: grayscale(100%);
}
.navmenu.active {
  color: #ffe991;
  border-bottom: 2px solid #ffe991;
}
.navmenu.active img {
  filter: grayscale(0%);
}
.tabcontent {
  display: none;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 6px 12px;
  -webkit-animation: fadeEffect 1s;
  animation: fadeEffect 1s;
}
.tabcontent {
  display: none;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 6px 12px;
  -webkit-animation: fadeEffect 1s;
  animation: fadeEffect 1s;
}
.headertab {
  text-align: center;
  margin: 10px 0;
  margin-top: 15px;
}
.headertab h2 {
  font-size: 30px;
  display: inline-block;
  background: linear-gradient(180deg, #b38c2c 20%, #e8da9b 50%, #b38c2c 80%);
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

/* Home Page */
.customgametab {
  justify-content: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
}
.customgametab.nav-pills .nav-link {
  border-radius: 0.25rem;
  margin: 0;
  margin-bottom: 10px;
  width: 100%;
  display: flex;
  padding: 3px 0;
  box-shadow: 0 5px 7px 0 #000000;
  background: linear-gradient(to bottom, #393939, #292929);
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
}
.customgametab.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  width: 100%;
  color: #fff;
  background: linear-gradient(to bottom, #e7d39d, #b19560);
}

/* Profile */
.detailwd {
  width: 100%;
  max-width: 270px;
  background: linear-gradient(to bottom, #e7d39d, #b19560);
  padding: 10px 30px;
  margin: 0 auto;
  color: #ffffff;
  border-radius: 10px;
  white-space: nowrap;
}
.detailwd img {
  width: 55px;
}
.detailwd span {
  color: white;
}
.accountct {
  background: linear-gradient(to bottom, #393939, #292929);
}
.headeraccount {
  padding: 0 10px;
  padding-right: 5px;
  font-size: 25px;
}
.headeraccount i {
  color: #eee0af;
}
.trofaccount span {
  font-size: 12px;
  color: #bbbbbb;
}
.trofaccount td {
  padding-bottom: 10px;
  line-height: 19px;
}
.cursorp {
  cursor: pointer;
}
@media (max-width: 520px) {
  .containerlogin {
    padding: 0px;
  }
}
